{%extends "bootstrap/base.html" %}
<!--  -->
{% import "bootstrap/wtf.html" as wtf %}
<!--  -->
{% block title %}后台操作界面{% endblock title %}
<!--  -->
{% block body -%}
<!--  -->

{% block content -%}
<div class="container" style="margin-top: 10px;">
    <div class="btn-toolbar" role="toolbar">
        <a href="{{url_for('add_code')}}" type="button" class="btn btn-primary btn-lg">添加授权码</a>
        <!-- <span style=" margin-left: 20px; font-size: 35px;">请在添加之前确保授权码不再名单内</span> -->
    </div>
    <div class="input-group" style="margin-top: 10px;">
        <input id='searched_code' type="text" class="form-control" aria-describedby="basic-addon1" style="width: 60%;">
        <button class="btn btn-primary" onclick="show_search()" style="height:35px; margin-left: 10px;">搜索</button>
    </div>
    <table class="table table-bordered table-striped" style="margin-top: 10px;">
        <thead>
            <tr>
                {% for label in ['id', '代码' ,'剩余时间(天)','购买时间(天)','创建时间', '截止时间', '备注', 'mac' ,'操作'] %}
                <th>{{label}}</th>
                {% endfor %}
            </tr>
        </thead>
        {%if data !=[] %}
        <tbody>
            {%for one_data in data%}
            <tr>
                {%for da in one_data%}
                <th>{{da}}</th>
                {%endfor%}
                <th style=" width: 15%; ">
                    <a href="{{url_for( 'change_code',id=one_data.id)}} " type="button " class="btn btn-info btn-sm ">续时</a>
                    <a href="{{url_for( 'delete_code',id=one_data.id)}} " type="button " class="btn btn-danger btn-sm " onclick="{if(confirm('确定删除吗?')){this.document.formname.submit();return true;}return false;}">删除</a>
                </th>
            </tr>
            {%endfor%}
        </tbody>
        {%endif%}

    </table>


</div>
{%- endblock content %} {% block scripts %}
<script src="{{bootstrap_find_resource( 'jquery.js', cdn='jquery' )}} "></script>
<script src="{{bootstrap_find_resource( 'js/bootstrap.js', cdn='bootstrap' )}} "></script>
<script>
    function show_search() {
        var not_find = true
        var code = document.getElementById('searched_code').value;
        var trs = document.getElementsByTagName('tr');
        for (var tr = 0; tr < trs.length; tr++) {
            var tr2 = trs[tr].getElementsByTagName('th')[1].innerText;
            if (tr2 == code) {
                trs[tr].className = 'success';
                not_find = false
            }
        }
        if (not_find) alert('未搜索到');
    }
</script>
{%- endblock scripts %} {%- endblock body %}